apache-airflow==3.0.2  # https://github.com/apache/airflow
# apache-airflow @ git+https://github.com/rapsealk/airflow@f5e081335ecdd7b976299c931f800689c424de33
apache-airflow-providers-docker[common.compat]==4.4.0  # https://github.com/apache/airflow/tree/main/providers/docker
# apache-airflow-providers-docker[common.compat] @ git+https://github.com/rapsealk/airflow@f5e081335ecdd7b976299c931f800689c424de33#egg=apache-airflow-providers-docker&subdirectory=providers/docker
flask-appbuilder==4.7.0  # https://github.com/dpgaspar/Flask-AppBuilder
graphviz==0.20.3  # https://github.com/xflr6/graphviz  # airflow dags list
pandas==2.2.3  # https://github.com/pandas-dev/pandas

# apache-airflow-core @ git+https://github.com/rapsealk/airflow@f5e081335ecdd7b976299c931f800689c424de33#egg=apache-airflow-core&subdirectory=airflow-core
# apache-airflow-task-sdk @ git+https://github.com/rapsealk/airflow@f5e081335ecdd7b976299c931f800689c424de33#egg=apache-airflow-task-sdk&subdirectory=task-sdk
